.alumni {

  &-item {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 15px;
    padding-bottom: 15px;

    &__title {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 0 !important;
    }

    &__subtitle {
      color: #0096db;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 0;
    }
  }
}
