.news {
  background: #eeeeee;

  &-top {
    display: flex;
    align-items: center;
    gap: 15px;

    &__icon {
      width: 20px;
      height: 20px;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    column-gap: 24px;
    row-gap: 23px;
  }

  //  grid
}

// news

.new {
  &-1 {
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3;
  }

  &-4,
  &-5 {
    align-self: flex-end;
  }

  &-img {
    width: 100%;
  }

  &-content {
    background: #fff;
    border-left: 4px solid #0096db;

    &-big {
      padding: 25px 25px 30px 25px;
    }

    &-small {
      padding: 15px 15px 20px 15px;
    }

    &__date {
      font-weight: 700;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 0;

      display: flex;
      align-items: center;
      gap: 5px;
      line-height: 1;


      &-big {
        font-size: 16px;
      }

      &-small {
        font-size: 13px;
      }
    }

    //  date

    &__title {
      &-big {
        margin-top: 25px;
        margin-bottom: 30px;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Количество строк, которое вы хотите отображать */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-small {
        font-size: 16px;
        margin-top: 16px;
        margin-bottom: 23px;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Количество строк, которое вы хотите отображать */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    //  title
    &__subtitle {
      &-big {
        font-size: 18px;
        display: block;
        margin-bottom: 63px;
        color: rgba(0, 0, 0, 0.7);

        display: -webkit-box;
        -webkit-line-clamp: 4; /* Количество строк, которое вы хотите отображать */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-small {
        display: none;
      }
    }

    //  subtitle
    &__link {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      color: #0096db;
      text-transform: uppercase;

      &-big {
        font-size: 18px;
        line-height: 18px;

        & img {
          width: 9px;
          height: 12px;
        }
      }

      &-small {
        font-size: 14px;
        line-height: 14px;

        & img {
          width: 7px;
          height: 10px;
        }
      }
    }

    //  link
  }

  //  content
}

// new

@media (max-width: 1399px) {
  .news {
    &-grid {
      row-gap: 13px;
    }
  }

  .new {
    &-content {
      &-big {
        padding: 20px 20px 25px 20px;
      }

      &-small {
        padding: 10px 10px 15px 10px;
      }

      &__title {
        &-big {
          margin-top: 20px;
          margin-bottom: 25px;
        }

        &-small {
          margin-top: 8px;
          font-size: 14px;
        }
      }

      &__subtitle {
        font-size: 16px;
        margin-bottom: 50px;
      }

      &__link {
        gap: 7px;

        &-big {
          font-size: 16px;
          line-height: 16px;

          & img {
            width: 8px;
            height: 11px;
          }
        }

        &-small {
          font-size: 13px;
          line-height: 13px;

          & img {
            width: 6px;
            height: 9px;
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .new {
    &-content {
      &-big {
        padding: 15px 15px 20px 15px;
      }

      &__date {
        &-big {
          font-size: 14px;
        }

        &-small {
          font-size: 12px;
        }
      }

      &__title {
        &-big {
          margin-top: 15px;
          margin-bottom: 20px;
        }
      }

      &__subtitle {
        margin-bottom: 40px;
      }
    }
  }
}

@media (max-width: 991px) {
  .new {
    &-content {
      border-left: 2px solid #0096db;

      &-big {
        padding: 10px 10px 15px 10px;
      }

      &-small {
        padding: 7px 7px 12px 7px;
      }

      &__date {
        &-big {
          font-size: 12px;
        }

        &-small {
          font-size: 10px;
        }
      }

      &__title {
        &-big {
          margin-top: 10px;
          margin-bottom: 15px;
        }

        &-small {
          font-size: 12px;
          margin-top: 6px;
          margin-bottom: 15px;
        }
      }

      &__subtitle {
        &-big {
          font-size: 13px;
          margin-bottom: 30px;
        }
      }

      &__link {
        &-big {
          font-size: 12px;
          line-height: 12px;
          gap: 5px;

          & img {
            width: 6px;
            height: 9px;
          }
        }

        &-small {
          font-size: 10px;
          line-height: 10px;
          gap: 4px;

          & img {
            width: 5px;
            height: 8px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .new {
    &-content {
      &-big {
        padding: 8px 8px 13px 8px;
      }

      &-small {
        padding: 5px 5px 10px 5px;
      }

      &__date {
        &-big {
          font-size: 10px;
        }

        &-small {
          font-size: 8px;
        }
      }

      &__title {
        &-big {
          margin-top: 8px;
          margin-bottom: 13px;
        }

        &-small {
          font-size: 11px;
          margin-top: 4px;
          margin-bottom: 10px;
        }
      }

      &__subtitle {
        &-big {
          font-size: 11px;
          margin-bottom: 20px;
        }
      }

      &__link {
        &-big {
          font-size: 11px;
          line-height: 11px;

          & img {
            width: 5px;
            height: 8px;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .news {
    &-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }

  .new {
    &-1 {
      grid-column-start: 1;
      grid-column-end: 3;

      grid-row-start: 1;
      grid-row-end: 3;
    }

    &-2 {
      grid-column-start: 1;
      grid-column-end: 2;

      grid-row-start: 3;
      grid-row-end: 4;
    }

    &-3 {
      grid-column-start: 2;
      grid-column-end: 3;

      grid-row-start: 3;
      grid-row-end: 4;
    }

    &-4 {
      grid-column-start: 1;
      grid-column-end: 2;

      grid-row-start: 4;
      grid-row-end: 5;
    }

    &-5 {
      grid-column-start: 2;
      grid-column-end: 3;

      grid-row-start: 4;
      grid-row-end: 5;
    }

    &-content {
      &-big {
        padding: 10px 10px 15px 10px;
      }
      &-small {
        padding: 7px 7px 10px 7px;
      }

      &__date {
        &-big {
          font-size: 12px;
        }

        &-small {
          font-size: 10px;
        }
      }

      &__title {
        &-big {
          font-size: 16px !important;
          margin-top: 12px;
          margin-bottom: 17px;
        }
        &-small {
          font-size: 14px;
          margin-top: 8px;
          margin-bottom: 14px;
        }
      }

      &__subtitle {
        &-big {
          font-size: 14px;
          margin-bottom: 30px;
        }
      }

      &__link {
        &-big {
          font-size: 13px;
          line-height: 13px;

          & img {
            width: 6px;
            height: 9px;
          }
        }
      }

      &__link {
        &-small {
          font-size: 12px;
          line-height: 12px;

          & img {
            width: 5px;
            height: 8px;
          }
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .news {
    &-grid {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  .new {
    &-content {
      padding: 10px 10px 15px 10px;

      &__date {
        font-size: 14px;
      }

      &__title {
        font-size: 20px !important;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Количество строк, которое вы хотите отображать */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__subtitle {
        display: block;
      }

      &__link {
        font-size: 13px;
        line-height: 13px;

        & img {
          width: 7px;
          height: 10px;
        }
      }
    }
  }
}
