@import "./fonts.css";
@import "./header.css";
@import "./event.css";
@import "./news.css";
@import "./benefits.css";
@import "./about.css";
@import "./alumni.css";
@import "./partners.css";
@import "./footer.css";
@import "./loader.css";
@import "./branches.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #f6f6f6;
  overflow-x: hidden;
  user-select: none;
}

.nav-block {
  position: sticky;
  transition: all 0.2s linear;
  z-index: 99999998;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.title {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 0;

    & img {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    & span {
      background-color: #0096db;
      color: #fff;
      padding: 0 7px;
    }
  }

  &__link {
    color: #0096db;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.map {
  margin-bottom: -10px;
  padding-bottom: 0;
}

.drop {
  & img {
    transform: rotate(90deg);
  }

  & svg {
    transform: rotate(90deg);
  }

  &:hover {
    & img {
      transform: translateY(5px) rotate(90deg);
    }
  }
}

.seearch-open-block {
  width: 10px;
  height: 10px;
  background-color: #0096db;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1199px) {
  .title {
    margin-bottom: 30px;

    &__text {
      font-size: 28px;

      & img {
        width: 94px;
      }
    }

    &__link {
      font-size: 16px;
    }
  }
}

@media (max-width: 991px) {
  .title {
    margin-bottom: 30px;

    &__text {
      font-size: 26px;

      & img {
        width: 87px;
      }
    }

    &__link {
      font-size: 15px;
      gap: 5px;
    }
  }
}

@media (max-width: 575px) {
  .title {
    margin-bottom: 10px;

    &__text {
      font-size: 22px;

      & img {
        width: 70px;
      }
    }

    &__link {
      font-size: 13px;
      gap: 5px;

      & img {
        width: 6px;
      }
    }
  }
}

@media (max-width: 560px) {
  .container {
    max-width: 360px;
    width: 100%;
  }
  .title {
    margin-bottom: 25px;

    &__text {
      font-size: 24px;

      & img {
        width: 70px;
      }
    }

    &__link {
      font-size: 15px;
      gap: 5px;

      & img {
        width: 6px;
      }
    }
  }
}

section,
footer {
  padding: 100px 0;
  @media (max-width: 1399px) {
    padding: 70px 0;
  }
  @media (max-width: 1199px) {
    padding: 70px 0;
  }
  @media (max-width: 991px) {
    padding: 50px 0;
  }
  @media (max-width: 767px) {
    padding: 35px 0;
  }
  @media (max-width: 575px) {
    padding: 25px 0;
  }
  @media (max-width: 560px) {
    padding: 35px 0;
  }
}

.content-title {
  font-size: 24px;
  @media (max-width: 1399px) {
    font-size: 20px;
  }
  @media (max-width: 1199px) {
    font-size: 18px;
  }
  @media (max-width: 991px) {
    font-size: 15px;
  }
  @media (max-width: 767px) {
    font-size: 12px;
  }
  @media (max-width: 575px) {
    font-size: 12px;
  }
  @media (max-width: 560px) {
    font-size: 22px;
  }
}

/* Стилизация самого скроллбара */
::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скроллбара */
  height: 10px; /* высота для горизонтального скроллбара */
}

/* Стилизация дорожки (трека) скроллбара */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* цвет фона трека */
}

/* Стилизация ручки скроллбара */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Стилизация ручки скроллбара при наведении */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
